.footer {
  background: #fff;
  padding: 2px;
  ul {
    li {
      margin: 0 8px;
      a {
        color: #111111;
        font-size: 12px;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 992px) {
  .footer {
    ul li {
      margin: 0 4px;
    }
  }
}

@media screen and (max-width: 723px) {
  .footer {
    ul {
      flex-wrap: wrap;
      li {
        margin: 0 8px;
      }
    }
  }
}
